
<div class="gallery">
    {% assign collections = site.formations | sort: 'debut' %}
    {% for formation in collections reversed %}
      <a href="{{ formation.lien }}">
        <div class="box">
          <h3>{{ formation.title }}</h3>
          <p> {{ formation.detail }}</p>

          <ul>
            <li>{{formation.more}}</li>
            <li>{{formation.lieu}}</li>
            <li>{{formation.debut}} - 
                {% if formation.fin %}
                {{formation.fin}}
                {% endif %}
            </li>
          </ul>

          {{ formation.excerpt | markdownify | strip_html }}
        </div>
      </a>
    {% endfor %}
</div>