
<!-- <div class="gallery"> -->
    {% for project in site.projects %}
      
        <!-- <div class="box"> -->
          <h2>{{ project.title }}</h2>
          <p>
            Période : {{project.debut}} 
            {% if project.fin %}
            à {{project.fin}}
            {% endif %}
          </p>
          <p>{{ project.excerpt | markdownify | strip_html }}</p>
          <a href="{{project.url}}"> En savoir plus ...</a>
        <!-- </div> -->
    <!-- {% endfor %} -->
<!-- </div> -->