.current {
    color: #3DF1CD;
    text-decoration-line: underline;
}

body{
    background-color: white ;
    color: #003E73;
}

a{
    color: #003E73;
    padding: 8px;

    &:hover{
        color: #3DF1CD;
        background-color: #003E73;
    }
} 

nav {
    margin: 0em;    
    background-color: #003E73;
    padding: 1em;

    a{
        color: white;
        text-decoration-line: none;
        padding: 8px;

        &:hover{
            color: #3DF1CD;
            background-color: #003E73;
        }
    }    
}