// Charte graphique
$default-color: #3D405B;
$hover-color: #8ACB88;
$background-color: #AEC5EB;
$header-color: #EB5160;
$link-color: #4C97EE;

body{
    background-color: $background-color;
    color: $default-color;

    display: flex; 
    justify-content: center; /* horizontalement */
    align-items: center;    /* verticalement */
    flex-direction: column;
    height: 100vh;          
    margin: 0;
    // gap: 10px 20px; /* row-gap column gap */
}

// --- Header >>>
h1{
    border-bottom-style: solid;
    font-size: 4rem;
    text-align: center;
}

h2{
    color: $header-color;
    font-size: 1.5rem;
}
// <<< Header ---

.article{
    justify-content: flex-start;
}

p{
    margin: 0px;
}

ul{
    padding: 0px;
}

// --- Links >>>
a{
//     border: 2px solid $default-color;
//     border-radius: 2rem;

    color: $default-color;
    text-decoration-line: none;

//     padding-right: 1rem;
//     padding-left: 1rem;
//     margin: 1rem;
    &:hover{
        color: $hover-color;
//         background-color: $default-color;
//         border-radius: 2rem;
    }
}

svg{
    fill: $link-color; // TODO pas utilisé ???
    &:hover{
        fill: $hover-color;
    }
}

path{
    fill: currentColor;
}

// <<< Links ---

// nav {
//     border-radius: 2rem;
//     background-color: $default-color;

//     display: flex;
//     justify-content: end;

//     a{
//         color: white;
//         padding: 1rem;
//     }    
// }

.current {
    color: $hover-color;
    text-decoration-line: underline;
}

.gallery{
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.box {
    margin: auto;
    max-width: 15rem;
}