// Charte graphique
$hover-background-color: #3D405B;
$hover-text-color: #8ACB88;
$background-color: #AEC5EB;

.current {
    color: $hover-text-color;
    text-decoration-line: underline;
}

.gallery{
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.box {
    margin: 1rem;
    max-width: 15rem;
}

body{
    background-color: $background-color;
    color: $hover-background-color;
}

h1, h2{
    text-align: center;
}

ul{
    text-align: left;
}

a{
    border: 2px solid $hover-background-color;
    border-radius: 2rem;

    color: $hover-background-color;
    text-decoration-line: none;

    padding-right: 1rem;
    padding-left: 1rem;
    margin: 1rem;
    &:hover{
        color: $hover-text-color;
        background-color: $hover-background-color;
        border-radius: 2rem;
    }
}

// nav {
//     border-radius: 2rem;
//     background-color: $hover-background-color;

//     display: flex;
//     justify-content: end;

//     a{
//         color: white;
//         padding: 1rem;
//     }    
// }